body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='49' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
img{
    margin: 5px;
}
.botones{
    display: flex;
}
.btnteam1{
    margin-left: 15px;
    margin-right: auto;
}
.btnteam2{
    margin-right: 15px;
    margin-left: auto;
}
.pokemons{
    margin-top: 15px;
    display: flex;
    flex-direction:row;
}
.team1{
    transition: 3s;
    margin-left: 15px;
    margin-right: auto;
    background-color: #FFFF99AA;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.team2{
    transition: 3s;
    margin-left: auto;
    margin-right: 15px;
    background-color: #FFFF99AA;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.avatar{
    height: 150px;
    width: 150px;
    background-color: #FFAA0044;
    border: 1px solid black;
    border-radius: 5px;
}
.tarjeta{
    display: flex;
    background-color: #FFCC0044;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
.info{
    margin-left: 5px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    background-color: #FFAA0044;
    border: 1px solid black;
    border-radius: 5px;
}